/* @override http://localhost:5005/static/stylesheets/ysfeedback.css */

/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; overflow: scroll; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }

/* hacks */

.clearfix:after, .container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix, .container { display: block; }

.clear { clear: both; }


/* our styles */

body { font-family: Cambria, Georgia, serif; background: #eee; color: #111; font-size: 100%; line-height: 1.5; margin-top: 2.5em; margin-bottom: 1.5em; }

textarea { width: 75%; }
#submit-div { text-align: right; width: 75%; }

#new-post h2 { margin-top: 0.5em; }

.container, .dev-message { width: 800px; margin-left: auto; margin-right: auto; }

h1 { font-size: 2.5em; }
h2 { font-size: 1.25em; margin-top: 1.5em; }
p { margin-top: 0.25em; }

h1 span, .dev-message h2 span, .user-message h2 { color: #777; }
.dev-message h2 span { padding-left: 2ex; }

.dev-message h2, .user-message h2 { margin-top: 0px; }
.dev-message, .user-message { margin-top: 1.875em; }
.dev-message-container { background: #ddd; }

.dev-message { padding: 0.66em 24px; }

#footer { text-align: center; font-size: 0.8em; margin-top: 2.35em; border-top: 1px solid #aaa; ; }
#footer, #footer a { color: #999; }

table { border-collapse: collapse; margin-top: 0.5em; margin-bottom: 1em; overflow: scroll; margin-left: -10px; }
td, th { vertical-align: middle; white-space: nowrap; }
table, table td { border-top: 1px solid #777; border-bottom: 1px solid #777; }
table td, table th { padding-right: 10px; padding-left: 10px; }
tr.header, tr.header td, tr.header th { background: #000; color: #eee; }
tr.even, tr.even td { background: #e8e8e8; }
td.evencol { background: #f7f7f7; }
tr.even td.evencol { background: #ededed !important; }

.date, .dim { color: #777; }
span.date { padding-left: 1ex; }

.table-scrolling-container { overflow: auto; padding-left: 10px; margin-left: -10px; }

.long-container, .dev-message { width: 1000px; margin-left: auto; margin-right: auto; }

.problem-box { float: left; width: 440px; margin: 1em 10px 1em 0px; line-height: 1.33; }

.problem-box.singlular { float: none; width: inherit; margin: 1em 0px 0em 0px; }

.problem-box h2 { margin-top: 0px; }

.problem-box h2, .problem-box p { margin-left: 130px; }
.problem-box table              { margin-left: 120px; }

.problem-box .dropin { display: block; text-decoration: none; float: left; font-size: 4em; line-height: 1; background: #008800;; color: white; height: 1.33em; width: 100px; text-align: center; padding: 0.1em 0.1em; }
.problem-box .dropin span.dig3 { font-size: 0.9em; }
.problem-box .dropin span.dig4 { font-size: 0.7em; }

/*.problem-box.minor-visual .dropin { background: #777700; }*/

/*.problem-box.silent-recovery .dropin { background: #008800; }*/

.problem-box.sev2 .dropin { background: #bb0000; }

/*.problem-box.major-background .dropin { background: #bb0000; }*/

.problem-box .dropin .caption { display: block; font-size: 0.2em; }

h1 .back, h1 a.back:visited { margin-left: -100px; width: 100px; float: left; font-size: 0.6em; margin-top: 0.6667em; }

h1 a.back { display: block; }
h1 a.back, h1 a.back:visited { color: black; }

.product .problem-box, .problem-box.smaller { width: 300px; line-height: 1; font-size: 0.8em; }
.product .problem-box .dropin, .problem-box.smaller .dropin { width: 80px; font-size: 3em; height: 1.33em; padding: 0.2em 0em;}
.product .problem-box h2, .product .problem-box p, .problem-box.smaller h2, .problem-box.smaller p{ margin-left: 90px; }
.product .problem-box .dropin .caption, .problem-box.smaller .dropin .caption { display: block; font-size: 0.27em; }

.flash { background: gold; padding: 4px 10px; }
.flashbox { margin: -8px 0px -14px 0px; text-align: center; }

.userinfo { float: right; margin-top: 1.25em; }
.userinfo #userid { }
.userinfo { color: #777; }
.userinfo a, .userinfo a:visited, .userinfo a:hover { color: #333; }

/* bug table */

table.buglist { border-collapse: collapse; }
.buglist col.blcheck { width: 8px; }
.buglist col.blcount { width: 24px; }
.buglist col.blname { width: 36ex; }
.buglist col.blpackage { }
.buglist col.blmethod { width: 24ex; }
.buglist tr {  }
.buglist tr.even { }
.buglist td.blcount, .buglist td.bllast { text-align: center; }
.buglist td.blage, .buglist td.bllast, .buglist td.blskip { color: #777; font-size: 80%; }
.buglist td { border-bottom: none !important; }
.buglist td.blage, .buglist td.bllast, .buglist td.blskip { border: none;  }
.buglist tr.r1 td { line-height: 1; padding-top: 0.2em; padding-bottom: 0.2em; }
.buglist tr.r2 td { line-height: 1; padding-bottom: 0.2em; }


/* begin css tabs */

ul#tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 1em -10px 1em -6em; /* set margins as desired */
	line-height: 1;
	font: 1em Cambria, Georgia, serif;
	border-bottom: 1px solid #6c6; /* set border COLOR as desired */
	list-style-type: none;
	padding: 3px 10px 3px 6em; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
	display: inline;
}

body#product-help-tab li.product-help-tab, body#profile-tab li.profile-tab, body#account-settings-tab li.account-settings-tab, body#people-tab li.people-tab, body#product-tab li.product-tab, body#dashboard-tab li.dashboard-tab, body#bugs-tab li.bugs-tab, body#closed-bugs-tab li.closed-bugs-tab, body#bug-tab li.bug-tab, body#tab4 li.tab4 { /* settings for selected tab */
	border-bottom: 1px solid #eee; /* set border color to page background color */
	background-color: #eee; /* set background color to match above border color */
}

body#product-help-tab li.product-help-tab a, body#profile-tab li.profile-tab a, body#account-settings-tab li.account-settings-tab a, body#people-tab li.people-tab a, body#product-tab li.product-tab a, body#dashboard-tab li.dashboard-tab a, body#bugs-tab li.bugs-tab a, body#closed-bugs-tab li.closed-bugs-tab a, body#bug-tab li.bug-tab a, body#tab4 li.tab4 a { /* settings for selected tab link */
	background-color: #eee; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #cfc; /* set unselected tab background color as desired */
	color: #666; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
	background: #fff; /* set desired hover color */
}

pre {
    padding: 4px;
    margin: 0.5em 0px;
    border: 1px dotted #777;
    line-height: 1;
}

pre, code {
    font: 100% monospace;
}

/* end css tabs */
