{% extends 'layout.html' %}
{% block title %}Page Does Not Exist{% endblock %}
{% block content %}

<div class="long-container clearfix">
  <h2>Internal Server Error</h2>

  <p>
    Sorry, but our exception tracking service has encountered an unexpected exception.
    Please <b>try again</b> in a few seconds, or in a couple of hours.
  </p>
  
  <p>
    We have already been notified about this error.
    Please feel free to email <a href="mailto:support@yoursway.com">support@yoursway.com</a>
    if you need any assistance.
  </p>
  
</div>

{% endblock %}
