{% extends 'base.html' %}
{% block title %}YourSway CrashKit{% endblock %}
{% block content %}
<div class="long-container">
  <p>Hey! Nice to meet you.</p>
  <p>Unfortunately, it turns out that the invitation code you have provided is incorrect.</p>
  <p><b>Don't panic.</b> Here are a couple of things to try.</p>
  <p>1. Please copy-and-paste the link from the invitation e-mail message,
    making sure to select the entire code before copying.</p>
  <p>2. Drop us an e-mail at <a href="mailto:info@yoursway.com?subject=CrashKit incorrect invitation code: {{invitation_code}}">info@yoursway.com</a>, 
    and we'll sort this out. Please be sure to specify your invitation code.</p>
  {% include "beta_signup_form.html" %}
</div>

{% endblock %}
