<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/ysfeedback.css" />
	{% block css %}{% endblock %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	{% block js %}{% endblock %}
	{% block head %}{% endblock %}
	{% block extrahead %}{% endblock %}
</head>
<body id="{{ tabid }}">
  <div class="long-container clearfix" style="position: relative;">
    <div class="userinfo">
      {% if user %}
        <span id="userid">{{user.email}}</span> | <a href="/profile/">Your accounts</a> | <a href="{{signout_url}}">Sign out</a>
      {% else %}
        <a href="{{signin_url}}">Sign in with your Google account</a>
      {% endif %}
    </div>
    <h1>{% block header %}{% endblock %}</h1>

    <div class="flashbox">
      {% if flash_message %}
        <span class="flash">
          {{ flash_message }}
        </span>
      {% else %}
        &nbsp;
      {% endif %}
    </div>

    {% block tabnav %}{% endblock %}
  </div>
  {% block content %}{% endblock %}
  <div id="footer">
    © 2009 — <a href="mailto:support@yoursway.com">e-mail support</a>, <a href="http://yoursway.campfirenow.com/988fc">live chat</a>, <a href="http://yoursway.lighthouseapp.com/projects/27411-crashkit/">public bug tracker</a>
  </div>
<script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'crashkit',
  host: 'crashkit.uservoice.com', 
  forum: '38110',
  showTab: true,  
  /* optional */
  alignment: 'left',
  background_color:'#f00', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
</body>
</html>
