{% extends 'base.html' %}
{% block title %}{{ account.name }}{% endblock %}
{% block content %}

<div class="long-container clearfix">
  {% if account_access.is_admin_allowed %}
    <p><a href="{{account_path}}/products/new/">Add a new product</a></p>
  {% endif %}
  {% for product in products %}
    <div class="product">
      <h2>
        <a class="nav" href="{{account_path}}/products/{{ product.unique_name }}/">{{ product.friendly_name }}</a>
        <!-- <span>({% if product.more_new_bugs %}many new bugs{% else %}{{ product.new_bug_count }} {% ifequal product.new_bug_count 1 %}new bug{% else %}new bugs{%endifequal%}{% endif %})</span> -->
      </h2>
    </div>
  {% endfor %}
</div>

{% endblock %}
