<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/ysfeedback.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
</head>
<body id="{{ tabid }}">
  <div class="long-container clearfix">
  	{% if product %}
      <h1>{{ product.friendly_name}} <span>Bugs</span></h1>
    {% else %}
      <h1>{{ account.name }}</h1>
    {% endif %}

    <ul id="tabnav">
    	<li class="home-tab"><a href="/">Account</a></li>
    	{% if product_path %}
      	<li class="new-tab"><a href="{{product_path}}/">New Bugs</a></li>
      	<li class="all-tab"><a href="{{product_path}}/all">All Bugs</a></li>
      	{% if bug_id %}
      	<li class="bug-tab"><a href="{{product_path}}/all">{% if case.ticket %}Assigned{%else%}Unassigned{%endif%} Bug</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
  {% block content %}{% endblock %}
  <div id="footer">
    © 2009 — <a href="mailto:support@yoursway.com">e-mail support</a>
  </div>
</body>
</html>
