{% extends "layout.html" %}
{% block header %}
  {% if product %}
    {{ product.friendly_name}} <span>Bugs</span>
  {% else %}
    {{ account.name }}
  {% endif %}
{% endblock %}

{% block tabnav %}
  <ul id="tabnav">
  	<li class="home-tab"><a href="/">Account</a></li>
  	{% if product_path %}
  	  {% if product_access.is_admin_allowed %}
      	<li class="product-tab"><a href="{{product_path}}/settings">Product</a></li>
      {% endif %}
    	<li class="new-tab"><a href="{{product_path}}/">New Bugs</a></li>
    	<li class="all-tab"><a href="{{product_path}}/all">All Bugs</a></li>
    	{% if bug_id %}
    	<li class="bug-tab"><a href="{{product_path}}/all">{% if case.ticket %}Assigned{%else%}Unassigned{%endif%} Bug</a></li>
      {% endif %}
    {% else %}
      {% if account_access.is_managing_people_allowed %}
      	<li class="people-tab"><a href="/people/">People & Permissions</a></li>
      {% endif %}
    {% endif %}
  </ul>
{% endblock %}
