{% extends "layout.html" %}
{% block header %}
  {% if product_path %}
    {{ product.friendly_name}} <span>Bugs</span>
  {% else %}
    {% if account_path %}
      {{ account.name }}
    {% else %}
      CrashKit
    {% endif %}
  {% endif %}
{% endblock %}

{% block tabnav %}
  {% if product_path %}
    <div style="position: absolute; left: 0px; top: -2em; width: 400px; height: 1em;">
      <a href="{{account_path}}/">« Dashboard</a>
    </div>
  {% endif %}
  <ul id="tabnav">
  	{% if product_path %}
    	<li class="bugs-tab"><a href="{{product_path}}/">Open</a></li>
    	<li class="closed-bugs-tab"><a href="{{product_path}}/closed">Closed</a></li>
    	<li class="ignored-bugs-tab"><a href="{{product_path}}/closed">Ignored</a></li>
    	<li>&nbsp;&nbsp;&nbsp;</li>
    	<li class="product-help-tab"><a href="{{product_path}}/help/integration">Instructions</a></li>
    	{% if bug_id %}
    	<li class="bug-tab"><a href="{{product_path}}/all">{% if case.ticket %}Assigned{%else%}Unassigned{%endif%} Bug</a></li>
      {% endif %}
  	  {% if product_access.is_admin_allowed %}
      	<li class="product-tab"><a href="{{product_path}}/settings">Settings</a></li>
      {% endif %}
    {% else %}
      {% if account_path %}
      	<li class="dashboard-tab"><a href="{{account_path}}/">Dashboard</a></li>
        {% if account_access.is_admin_allowed %}
        	<li class="account-settings-tab"><a href="{{account_path}}/settings/">Settings</a></li>
        {% endif %}
        {% if account_access.is_managing_people_allowed %}
        	<li class="people-tab"><a href="{{account_path}}/people/">People & Permissions</a></li>
        {% endif %}
        {% ifequal tabid "product-tab" %}
        	<li class="product-tab"><a href="{{account_path}}/products/new">Add Product</a></li>
        {% endifequal %}
      {% else %}
        {% if not account_authorizations %}
        	<li class="account-settings-tab"><a href="/signup/">Sign up for CrashKit</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  </ul>
{% endblock %}
