{% extends 'base.html' %}
{% block title %}{{ product.friendly_name}} Bug{% endblock %}
{% block content %}
<div class="long-container">
  
  <div style="width: 80%; margin: 0px auto 2em auto; padding-left: 10%;">
  <div class="problem-box singlular sev{{ bug.max_severity }} clearfix">
    <div class="dropin" title="{{ bug.bug_name }}">
      {{bug.occurrence_count|scalenum}}
      <span class="caption">{% ifequal bug.occurrence_count 1 %}occurrence{% else %}occurrences{%endifequal%}</span>
    </div>
      <h2>
          {{ bug.exception_name|escape }}: <span class="dim">{{ cover_message|escape|midshorten:10000 }}</span>
      </h2>
      <p>{{ bug.exception_package|escape }}<br>
      {{ bug.exception_klass|escape }}<span class="dim">.{{ bug.exception_method|escape }} {{ bug.exception_line }}</span></p>
    <p class="date">
      {% ifequal bug.first_occurrence_on bug.last_occurrence_on %}Occurred {{ bug.first_occurrence_on|naturalday:"%b %d, %Y" }}{% else %}Occurring {{ bug.first_occurrence_on|naturalday:"%b %d, %Y" }} till {{ bug.last_occurrence_on|naturalday:"%b %d, %Y"}}{% endifequal %}
    </p>
  </div>
  </div>

  {% if bug.ticket or product_access.is_write_allowed %}
  <table style="width: 80%">
    <col width="230" />
    <tr>
      <td>{{ product.bug_tracker_name }} ticket id</td>
      <td>
        {% if bug.ticket %}
          <span id="ticket-display">
            {% if product.bug_tracker_autolinking %}
              <a target="_new" href="{%e product.bug_tracker_ticket_url(bug.ticket.name) %}">#{{ bug.ticket.name }}</a>
            {% else %}
              #{{ bug.ticket.name }}
            {% endif %}
            {% if product_access.is_write_allowed %}
               — <a href="#" onclick="$('#ticket-display').hide();$('#ticket-form').show().focus();return false;">change</a>
            {% endif %}
          </span>
        {% endif %}
        {% if product_access.is_write_allowed %}
          <form id="ticket-form" action="assign-ticket" method="POST" {% if bug.ticket %}style="display: none"{% endif %}><input name="ticket" value="{{ bug.ticket.name }}"> <input type="submit" value="Assign"></form></td>
        {% endif %}
    </tr>
  </table>
  {% endif %}
  
  <h2>Stack trace</h2>
  <table style="width: 80%">
    <col width="230" />
    {% for exception in cover_case.exceptions_list %}
      {% for location in exception.locations %}
        <tr class="{% cycle odd,even %}">
          <td>{% if forloop.first %}<small>{{ exception.name|escape }}</small>{% endif %}</td>
          <td class="evencol" style="text-align: right">{{ location.package|escape }}</td>
          <td>{{location.klass|escape}}<span class="dim">.{{location.method|escape}} {{location.line}}</span></td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  
  {% if env_items %}
    <h2>Environment</h2>
    <table style="width: 80%">
      <col width="230" />
      {% for item in env_items %}
        <tr class="{% cycle odd,even %}">
          <td>{{item.0|strip_prefix:"env_"}}</td>
          <td class="evencol">{% for v in item.1%}{% if not forloop.first %}, {% endif %}{{v|escape}}{%endfor%}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  
  {% if common_data_items %}
    <h2>Common to all occurrences</h2>
    <table style="width: 80%">
      <col width="230" />
      {% for item in common_data_items %}
        <tr class="{% cycle odd,even %}">
          <td>{{item.0|strip_prefix:"data_"}}</td>
          <td class="evencol">{% for v in item.1%}{% if not forloop.first %}, {% endif %}{{v|formatvalue:product_path}}{%endfor%}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  
  <h2>Additional information</h2>
  
  <div class="table-scrolling-container">
  <table>
    <col width="80" />
    <col width="120" />
    <tr class="header">
      <th></th>
      <th>occurred</th>
      {% for key in data_keys %}<th valign="top">{{ key|strip_prefix:"data_"|strip_prefix:"env_" }}</th>{% endfor %}
    </tr>
    {% for occurrence in occurrences %}
      <tr class="{% cycle odd,even %}">
        <td class="oddcol"><big>{{occurrence.count}}</big> <span class="dim">{%ifequal occurrence.count 1%}occur.{%else%}occur.{%endifequal%}</span></td>
        <td class="date evencol">{{ occurrence.date|date:"N j, Y" }}</td>
        {% for key in data_keys %}<td class="{% if forloop.counter|divisibleby:2 %}evencol{%else%}oddcol{% endif %}" title="{{ occurrence|kgetattr:key|unshortened_tooltip:15}}">{{ occurrence|kgetattr:key|formatshortenedvalue:product_path }}</td>{% endfor %}
      </tr>
    {% endfor %}
  </table>
  </div>
</div>

{% endblock %}
