{% extends 'base.html' %}
{% block title %}{{ product.friendly_name}} Bugs{% endblock %}
{% block content %}
<div class="long-container clearfix">
  <h1>{{ product.friendly_name}} <span>Bugs</span></h1>
  {% for problem in problems %}
    <div class="problem-box {{ problem.severity }} clearfix">
      <a class="dropin" title="{{ problem.bug_name }}" href="problems/{{ problem.key.name|urlencode }}">
        {{problem.occurrence_count}}
        <span class="caption">{% ifequal problem.occurrence_count 1 %}occurrence{% else %}occurrences{%endifequal%}</span>
      </a>
      {% if problem.exception_names_as_string %}
        <h2><a href="problems/{{ problem.key.name|urlencode }}">
            {{ problem.exception_names_as_string }}
        </a></h2>
        {% if problem.message %}
          <p>{{ problem.message }}</p>
        {% endif %}
      {% else %}
        {% if problem.developer_message %}
          <h2><a href="problems/{{ problem.key.name|urlencode }}">
              {{ problem.developer_message }}
          </a></h2>
          {% if problem.user_message %}
            <p>“{{ problem.user_message }}”</p>
          {% endif %}
        {% else %}
          <h2><a href="problems/{{ problem.key.name|urlencode }}">
              {{ problem.message }}
          </a></h2>
        {% endif %}
      {% endif %}
      <p class="date">
        {% ifequal problem.first_occurrence_at.date problem.last_occurrence_at.date %}
          Occurred {{ problem.first_occurrence_at|naturalday:"%b %d, %Y" }}
        {% else %}
          Occurring from {{ problem.first_occurrence_at|naturalday:"%b %d, %Y" }} till {{ problem.last_occurrence_at|naturalday:"%b %d, %Y"}}
        {% endifequal %}
      </p>
    </div>
    
  {% endfor %}
</div>

{% endblock %}
