{% extends 'base.html' %}
{% block title %}{{ product.friendly_name}} Bugs{% endblock %}
{% block content %}

<div class="long-container clearfix">
  {% for case in cases %}
    <div class="problem-box {{ case.severity }} clearfix">
      <a class="dropin" title="{{ case.bug_name }}" href="bugs/{{ case.key.name }}/">
        {{case.occurrence_count}}
        <span class="caption">{% ifequal case.occurrence_count 1 %}occurrence{% else %}occurrences{%endifequal%}</span>
      </a>
        <h2><a href="bugs/{{ case.key.name }}/">
            {{ case.exception_name }}
        </a></h2>
        <p>{{ case.exception_package }}<br>
        {{ case.exception_location }} <span class="dim">{{ case.exception_line }}</span></p>
      <p class="date">
        {% ifequal case.first_occurrence_on case.last_occurrence_on %}
          Occurred {{ case.first_occurrence_on|naturalday:"%b %d, %Y" }}
        {% else %}
          Occurring from {{ case.first_occurrence_on|naturalday:"%b %d, %Y" }} till {{ case.last_occurrence_on|naturalday:"%b %d, %Y"}}
        {% endifequal %}
      </p>
    </div>
    
  {% endfor %}
</div>

{% endblock %}
