<div class="problem-box {%if smallbug %}smaller{%endif%} sev{{ bug.max_severity }} clearfix">
  <a class="dropin" title="{{ bug.bug_name }}" href="bugs/{{ bug.key.name }}/">
    {{bug.stats.count|scalenum|safe}}
    <span class="caption">{% ifequal bug.stats.count 1 %}occurrence{% else %}occurrences{%endifequal%}</span>
  </a>
    <h2><a href="bugs/{{ bug.key.name }}/">
        {{ bug.exception_name }}
    </a></h2>
    <p>{{ bug.exception_package|smartshorten:45 }}<br>
    {{ bug.exception_klass|smartshorten:25|split_klass }}<small>.{{ bug.exception_method|smartshorten:20 }}&nbsp;<span class="dim">{{ bug.exception_line }}</span></small></p>
  <p class="date">
    {% ifequal bug.first_occurrence_on bug.last_occurrence_on %}
      Occurred {{ bug.first_occurrence_on|naturalday:"%b %d, %Y" }}
    {% else %}
      Occurring from {{ bug.first_occurrence_on|naturalday:"%b %d, %Y" }} till {{ bug.last_occurrence_on|naturalday:"%b %d, %Y"}}
    {% endifequal %}
    ({%ifequal bug.occurrence_count 1 %}1 time{%else%}{{ bug.occurrence_count }} times{%endifequal%})
  </p>
</div>
