{% extends 'base.html' %}
{% block title %}{{ project.friendly_name}} Settings{% endblock %}
{% block content %}
<div class="long-container">
  <form method="POST">
    <h2>Identification</h2>
    <p>
      <label for="unique_name">Permalink:</label>
      <input id="unique_name" name="unique_name" value="{{product.unique_name|ifnone|escape}}" />
      {{unique_name_error|errorspan}}
    </p>
    <p>
      <label for="friendly_name">Name:</label>
      <input id="friendly_name" name="friendly_name" value="{{product.friendly_name|ifnone|escape}}" />
      {{friendly_name_error|errorspan}}
    </p>
    
    <h2>New bug notifications</h2>
    <p>One e-mail per bug per day. Similar reports are considered the same bug, so we won't spam you
      with a thousand emails.</p>
    <p>
      <label for="new_bug_notification_emails">E-mails:</label>
      <input id="new_bug_notification_emails" name="new_bug_notification_emails" size="80" value="{{product.new_bug_notification_emails|ifnone|escape}}" />
      {{new_bug_notification_emails_error|errorspan}}
    </p>
    
    <h2>Integrate with a bug tracker?</h2>
    <p>YourSway Feedback Kit bugs can be associated with your bug tracker tickets.</p>
    <p>
      <label for="bug_tracker">Choose your bug tracker:</label>
      <select id="bug_tracker" name="bug_tracker">
        <option value="" {{product.bug_tracker|selectedifeq:"" }}>(none)</option>
        {% for bt in bug_trackers %}
        <option value="{{bt.0}}" {{product.bug_tracker|selectedifeq:bt.0 }}>{{bt.1.name}}</option>
        {% endfor %}
      </select>
      {{bug_tracker_error|errorspan}}
    </p>
    <p>
      <label for="bug_tracker_url">Project URL:</label>
      <input id="bug_tracker_url" name="bug_tracker_url" value="{{product.bug_tracker_url|ifnone|escape}}" />
      {{bug_tracker_url_error|errorspan}}
    </p>
    
    {% if product.is_saved %}
    <h2>Ignored packages</h2>
    <p>The packages listed below will be ignored when grouping exception reports into bugs.</p>
    <p><label for="uninteresting_packages">Ignore packages:</label> <input id="uninteresting_packages" name="uninteresting_packages" value="{{product.uninteresting_packages|escape}}" size="60" /> {{uninteresting_packages_error|errorspan}}</p>
    <p>(Changes to this setting only affect new exception reports.)</p>
    {% endif %}
    
    <h2>Make this product public?</h2>
    <p>
      <input id="public_access" type="checkbox" name="public_access" {{product.public_access|checkediftrue}} /> <label for="public_access">Yes, make this product public so anyone in the world can see its bugs</label>
    </p>
    
    <h2>
      {% if product.is_saved %}
        <input type="submit" value="Save Product Settings" />
      {% else %}
        <input type="submit" value="Add Product" />
      {% endif %}
    </h2>
  </form>
</div>

{% endblock %}
