{% extends 'base.html' %}
{% block title %}{{ project.friendly_name}} Integration Help{% endblock %}
{% block content %}
<div class="long-container">
  <p>Note: it's okay to report e.g. Python and JavaScript errors into the same product.</p>
    
  <h2>Integrating into Java applications</h2>
  <p><a href="http://download.yoursway.com/crashkit-java-1.0.3.zip">Download Java client 1.0.3</a></p>
  <p>
    Step 1. Add “com.yoursway.crashkit.jar” into your classpath
    (or, if you prefer, you can simply add “com.yoursway.crashkit/src” as a source folder).
    It can be used as OSGi bundle.
  </p>
  <p>Step 2. Copy and paste the following code into a method that executes at startup:</p>
  <pre>
CrashKit crashKit = CrashKit.connectApplication(
  "{{product.friendly_name}}", "1.0.0", "{{account.permalink}}", "{{product.unique_name}}",
  new String[] {"com.example.myproduct", "com.foo.anotherpackage"});</pre>
  <p>
    The last argument lists the packages that belong to your application; everything else will be considered a library.
    The second argument is your application's version number.
  </p>
  <p>Step 3. Catch all exceptions and send them to CrashKit:</p>
  <pre>
try {
  // run event loop, process request, whatever
} catch (Throwable e) {
  CrashKit.bug(e);
}</pre>
  <p>Optional step 4. To report warnings and other custom messages, just define and create corresponding exception classes, e.g.:</p>
  <pre>CrashKit.bug(new UnhandledEventLoopException(e));
CrashKit.bug(new IgnoringEmptyCommandException("Some command"));</pre>
  <p>If you derive your custom exceptions from <code>Failure</code>, you'll be able to pass additional information:</p>
  <pre>CrashKit.bug(new UnhandledEventLoopException(e).add("some_additional_data", "42");</pre>
  
  <h2>Integrating into PHP applications</h2>
  <p><a href="http://download.yoursway.com/crashkit-php-1.0.16.zip">Download PHP client 1.0.16</a> (includes crashkit.inc.php and a demo application)</p>
  <p>Step 1. Drop “crashkit.inc.php” into your project.</p>
  <p>Step 2. Copy and paste the following text into the beginning of your main PHP file(s):</p>
  <pre>
&lt;?php
  define('CRASHKIT_ACCOUNT_AND_PRODUCT', '{{account.permalink}}/{{product.unique_name}}');
  define('CRASHKIT_ADMIN_PASSWORD', '{{client_admin_cookie}}');
  define('CRASHKIT_DIE_MESSAGE',
    '&lt;title&gt;Server error&lt;/title&gt;' .
    '&lt;div style="width: 600px; margin: 50px auto 0px auto; font: 14px Verdana, sans-serif;"&gt;' .
    '&lt;b style="color: red;"&gt;Server error&lt;/b&gt;' .
    '&lt;p&gt;Sorry, we have failed to process your request now. Please try again later.' .
    '&lt;p&gt;Our developers have just been notified about this error.' .
    '&lt;p&gt;If you need help immediately, please e-mail &lt;a href="mailto:{{user.email}}"&gt;{{user.email}}&lt;/a&gt;.' .
    '&lt;/div&gt;');
  require_once 'crashkit.inc.php';
?&gt;</pre>
  <p>You can customize the error message if you don't like the default one.</p>
  <p>
    Optional Step 3. To prevent errors from being logged from your developer machine,
    visit CrashKit administrator page to set a developer cookie.
    If your site URL is http://www.example.com/, CrashKit admin page is available at “http://www.example.com/?crashkitadmin={{client_admin_cookie}}”.
    (Be sure to do this for both local and production versions of your site,
    and in each web browser you use for testing.)
  </p>
  <p>Optional Step 4.
    Have your testers do the same, and their bugs will be logged separately from
    real customer bugs.</p>

  <h2>Integrating into Python/Django applications</h2>
  <p><a href="http://download.yoursway.com/crashkit-python-1.0.9.zip">Download Python client 1.0.9</a> (includes crashkit.py and a sample application)</p>
  <p>Step 1. Drop “crashkit.py” into your project.</p>
  <p>Step 2. Add CrashKitDjangoMiddleware to your settings file:</p>
<pre>MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    <b>'crashkit.CrashKitDjangoMiddleware',</b>
)</pre>
  <p>Step 3. Add the following to the bottom of your settings file:</p>
<pre>CRASHKIT = {
    'account_name': '{{account.permalink}}',
    'product_name': '{{product.unique_name}}',
    'deactivate_when_debugging': True, # change to False to collect bugs even when DEBUG is True
}</pre>
  <p>Please note the <code>deactivate_when_debugging</code> constant: when True (the default) and Django's <code>DEBUG</code> is also True (the default), exceptions will <b>not</b> be sent to CrashKit servers. If you want to test CrashKit in your development environment, you might want to flip that setting temporarily.</p>
  
  <h2>Integrating into Python applications</h2>
  <p><a href="http://download.yoursway.com/crashkit-python-1.0.9.zip">Download Python client 1.0.9</a> (includes crashkit.py and a sample application)</p>
  <p>(If you are using Django, see the Python/Django section above.)
  <p>Step 1. Drop “crashkit.py” into your project.</p>
  <p>Step 2. Copy and paste the following text into the beginning of your main Python file(s):</p>
  <pre>
import crashkit
crashkit.initialize_crashkit('{{account.permalink}}', '{{product.unique_name}}')</pre>
  <p>Step 3. Catch all exceptions and send them to CrashKit:</p>
  <pre>
try:
  # do something here
except:
  crashkit.send_exception()</pre>
  <p>
    If you are using Django, there's a piece of middleware contributed by our user wiz at 
    <a href="http://www.djangosnippets.org/snippets/1483/">www.djangosnippets.org/snippets/1483/</a>.
  </p>
  
  <h2>Integrating into HTML/JavaScript code</h2>
  <p>Step 1.Drop the following SCRIPT tag into your HTML page:</p>
  <pre>
&lt;script src="http://crashkitapp.appspot.com/static/javascript/crashkit-js-api.js?{{account.permalink}}/{{product.unique_name}}"
        type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;</pre>
  
  <p>
    Step 2. Catch all exceptions and send them to CrashKit using <code>CrashKit.report(ex)</code> method:
  </p>
  <pre><code>try { ...code here.. } catch(e) { CrashKit.report(e); }</code></pre>
  
  <p>If you are using jQuery, CrashKit automatically wraps all your event handlers into try-catch blocks,
    so you only need to deal with top-level code.</p>
  <p>If you are only targeting IE and Firefox, step 2 is optional.</p>
</div>

{% endblock %}
