<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Log exceptions, collect bug reports, view them on the web: Crash Kit</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/marketing.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script src="/static/javascript/marketing.js"></script>
</head>
<body>
  <!--
    == 970 == 119
    400+20
    450+100
    == 730 == 90
    580+150 live data
    == 650 == 80
    500+150 how it works?
    == 730 == 90
    580+150 every detail
    == 570 == 70
    420+150 notifications
    == 500 == 61
    350+150 grouping
    == 500 == 61
    350+150 QA
    == 730 == 90
    580+150 five min
    == 500 == 61
    350+150 languages
    == 650 == 80
    500+150 signup
    
    == x == (x * 800 / 6530)
  -->
  <div id="top" class="clearfix scrolling">
    <div id="scroller">
      <a id="logo" href="#home" style="width: 119px;">CrashKit</a>
      <a href="#one" style="width: 90px;">1</a>
      <a style="width: 80px;">&nbsp;</a>
      <a href="#two" style="width: 90px;">2</a>
      <a href="#three" style="width: 70px;">3</a>
      <a href="#four" style="width: 61px;">4</a>
      <a href="#five" style="width: 61px;">5</a>
      <a href="#six" style="width: 90px;">6</a>
      <a style="width: 61px;">&nbsp;</a>
      <a href="#signup" style="width: 80px;" class="signup">Sign up</a>
      <div id="slider" style="z-index: 1; position: absolute; width: 2em; height: 0.66em; bottom: -1px; background: white;"></div>
    </div>
  </div>
  
  <div class="container" style="width: 6530px;">

    <div id="home" class="screen" style="width: 350px; padding-left: 50px; padding-right: 20px;">
      <div style="line-height: 1.5;">
        <div style="margin-top: 5em;">
          <span style="font-size: 200%;">
            Why risk your reputation?
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            Your customers may&nbsp;be experiencing
            a&nbsp;killer bug right now.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            One that turns them away forever.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            Probably you want to know about&nbsp;it?
          </span>
        </div>
      </div>
    </div>
    
    <div class="screen" style="width: 450px; padding-right: 100px;">
      <div style="text-align: center; position: relative;">
        <div style="position: absolute; top: 14em; margin-top: -2em; right: 0px;">
          <span style="font-size: 400%; line-height: 1;">»</span>
        </div>
        <span style="font-size: 1400%; line-height: 0.428;">6</span><br>
        <span style="font-size: 600%; line-height: 1;">reasons</span><br>
        <span style="font-size: 350%; line-height: 1.714;">why you need</span><br>
        <span style="font-size: 550%; line-height: 1.09;">CrashKit</span>
      </div>
    </div>
  
    <div id="one" class="screen" style="width: 580px;">
      <div style="text-align: center; height: 3em;">
        <span style="font-size: 300%; line-height: 1;">Live crash data</span>
      </div>
      <div><img src="/static/images/marketing/bugs.png" /></div>
    </div>

    <div class="screen" style="width: 500px;">
      <div style="line-height: 1.5;">
        <div style="margin-top: 3em;">
          <span style="font-size: 200%;">
            How it works?
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            You install CrashKit client code into your application.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            CrashKit client code intercepts unhandled exceptions and sends them to the server.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            CrashKit web application processes the exception reports and allows to view
            them online.
          </span>
        </div>
      </div>
    </div>

    <div id="two" class="screen" style="width: 580px;">
      <div style="text-align: center; height: 3em;">
        <span style="font-size: 300%; line-height: 1;">Every detail you want</span>
      </div>
      <div><img src="/static/images/marketing/details.png" /></div>
    </div>

    <div id="three" class="screen" style="width: 420px;">
      <div style="text-align: center; height: 4em;">
        <span style="font-size: 300%; line-height: 1;">Instant notifications</span>
      </div>
      <div style="margin-top: 1em; text-align: center;"><img src="/static/images/marketing/email.png" /></div>
      <div style="margin-top: 1em; padding-left: 5px; padding-right: 5px;">
        <span style="font-size: 150%; line-height: 1.5;">
          Learn about new bugs before your users even notice.
          Fix them before the users complain.
        </span>
      </div>
    </div>
  
    <div id="four" class="screen" style="width: 350px;">
      <div style="line-height: 1.5;">
        <div style="margin-top: 5em;">
          <span style="font-size: 200%;">
            Smart grouping
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            Thousands of similar exception reports are&nbsp;grouped into dozens of&nbsp;bugs.
            You only have to&nbsp;see and deal with bugs.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            That's also why we do not fill&nbsp;up your inbox: you'll be getting only one e-mail per
            bug per day.
          </span>
        </div>
      </div>
    </div>

   <div id="five" class="screen" style="width: 350px;">
     <div style="line-height: 1.5;">
       <div style="margin-top: 5em;">
         <span style="font-size: 200%;">
           QA support
         </span>
       </div>
       <div style="margin-top: 1.5em;">
         <span style="font-size: 150%;">
           See the bugs that only happened in your QA environment separately. And also
           separate are the bugs happening on developer machines.
         </span>
       </div>
       <div style="margin-top: 1.5em;">
         <span style="font-size: 150%;">
           Expect more QA tools to&nbsp;come as&nbsp;CrashKit evolves.
         </span>
       </div>
     </div>
   </div>

   <div id="six" class="screen" style="width: 580px;">
     <div style="text-align: center; height: 3em;">
       <span style="font-size: 300%; line-height: 1;">Five minutes to integrate</span>
     </div>
     <div style="margin-top: 1em; padding-left: 5px; padding-right: 5px;">
       <span style="font-size: 150%; line-height: 1.5;">
         1. Add our client to your project. 2. Tell it your app name and version.
         3. Feed it all your uncaught exceptions.
       </span>
     </div>
     <div><img src="/static/images/marketing/integrate.png" /></div>
   </div>

   <div class="screen" style="width: 350px;">
     <div style="line-height: 1.5;">
       <div style="margin-top: 7.5em;">
         <span style="font-size: 150%;">
           We support or plan to support within&nbsp;a&nbsp;month:
          </span>
       </div>
       <div style="margin-top: 1.5em;">
         <span style="font-size: 150%;">
           <b>Java,</b> Eclipse, OSGi, Servlets, Spring, <b>Objective-C,</b> Cocoa,
           <b>Python,</b> Google App Engine, Django, <b>Ruby</b>, Ruby on Rails.
         </span>
       </div>
     </div>
   </div>

    <div class="screen" style="width: 500px;" id="signup">
      <div style="line-height: 1.5;">
        <div style="margin-top: 0em;">
          <span style="font-size: 200%;">
            <a name="signup">Sign up?</a>
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            Oh, sorry: we are only running a&nbsp;limited beta at&nbsp;the moment.
            But we promise to&nbsp;invite you within&nbsp;a&nbsp;month.
          </span>
        </div>
        <div style="margin-top: 1.5em;">
          <span style="font-size: 150%;">
            {% include "beta_signup_form.html" %}
          </span>
        </div>
      </div>
    </div>
    
  </div>
  
  <div id="bottom">
    <div id="signuplink" class="scrolling">
      <a href="#signup" class="signup">Sign up</a>
    </div>
    <div id="authors" style="height: 4em;">
      <div style="position: absolute; top: 50%; height: 40px; width: 126px; right: 0px; margin-top: -20px;">
        <a href="http://www.yoursway.com/"><img src="/static/images/marketing/logo.png" /></a>
      </div>
    </div>
  </div>
<script>
  $('.scrolling a').click(function() {
    var el = $(this.href.substring(this.href.indexOf('#')));
    var elWidth = parseInt(el.css('width')) + parseInt(el.css('padding-right'));
    console.log("elWidth = " + elWidth);
    var elOffset = el.offset()['left'];
    console.log("elOffset = " + elOffset);
    var scroll = Math.max(0, elOffset - (bodyWidth() - elWidth) / 2);
    console.log('scroll = ' + scroll)
    $.scrollTo(scroll, 750, {'axis': 'x'});
    return false;
  });
  function bodyWidth() {
    if( typeof( window.innerWidth ) == 'number' ) {
     //Non-IE
     return window.innerWidth;
    } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
     //IE 6+ in 'standards compliant mode'
     return document.documentElement.clientWidth;
    } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
     //IE 4 compatible
     return document.body.clientWidth;
    }
  }
  var containerWidth = parseInt($('.container').css('width'));
  var scrollerWidth = 800;
  function scrollSlider() {
    var scrollLeft = $('#logo').offset()['left'] - 100;
    $('#slider').css('width', Math.floor(bodyWidth() * scrollerWidth / containerWidth) + 'px');
    $('#slider').css('left', Math.floor((scrollLeft * 1.0 / containerWidth) * scrollerWidth) + 'px');
  }
  $(window).scroll(scrollSlider);
  $(window).resize(scrollSlider);
  $(scrollSlider);
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-861679-10");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
